.vscode/settings.json
03-Langchain/faiss_index/index.faiss
03-Langchain/faiss_index/index.pkl
03-Langchain/chroma_db/chroma.sqlite3
03-Langchain/chroma_db/6ca3e820-e3df-4ae0-a885-3d00c4163aa3/data_level0.bin
03-Langchain/chroma_db/6ca3e820-e3df-4ae0-a885-3d00c4163aa3/header.bin
03-Langchain/chroma_db/6ca3e820-e3df-4ae0-a885-3d00c4163aa3/length.bin
03-Langchain/chroma_db/6ca3e820-e3df-4ae0-a885-3d00c4163aa3/link_lists.bin